{% extends "admin/change_form.html" %}

{% block extrahead %}

    <link rel="stylesheet" type="text/css" href="../../../../static/css/jquery-ui-1.8rc1.custom.css" />
    <link rel="stylesheet" type="text/css" href="../../../../static/css/ui.timepickr.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="../../../../static/js/jquery.timepickr.js"></script>
    <script type="text/javascript">
    $(function(){
        $('#id_time_of_day').timepickr();
    });
    </script>

{% endblock %}

{% block content %}

<script type="text/javascript">
    function CalcAndSubmit() {

        day_of_week = document.forms["setpoint_form"].day_of_week.value;
        time_of_day = document.forms["setpoint_form"].time_of_day.value.split(":");

        minute_of_week = parseInt(day_of_week) * 1440 + parseInt(time_of_day[0]) * 60 + parseInt(time_of_day[1]);

        document.forms["setpoint_form"].start_time.value = minute_of_week;
        document.forms["setpoint_form"].submit();
    }
</script>

<div id="content-main">
    <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="setpoint_form">{% block form_top %}{% endblock %}
    <p>This is a test of the emergency broadcast system. This is only a test. In an actual emergency, you would already be dead.</p>
        <div>
            <fieldset class="module aligned ">
                <div class="form-row setpoint">
                    <div>
                        <label for="id_setpoint" class="required">Setpoint:</label>
                        <input type="text" name="setpoint" id="id_setpoint" />
                    </div>
                </div>
                <div class="form-row day_of_week">
                    <div>
                        <label for="id_day_of_week" class="required">Day of week:</label>
                        <select name="day_of_week">
                        <option value="0">Sunday</option>
                        <option value="1">Monday</option>
                        <option value="2">Tuesday</option>
                        <option value="3">Wednesday</option>
                        <option value="4">Thursday</option>
                        <option value="5">Friday</option>
                        <option value="6">Saturday</option>
                        </select>
                    </div>
                </div>
                <div class="form-row time_of_day">
                    <div>
                        <label for="id_time_of_day" class="required">Time of day:</label>
                        <input id="id_time_of_day" type="text" class="vIntegerField" name="time_of_day" />
                    </div>
                </div>
                <input id="id_start_minute" type="hidden" class="vIntegerField" name="start_time" />
            </fieldset>

            <div class="submit-row" >
                <input type="submit" value="Save" class="default" name="_save" onClick="javascript:CalcAndSubmit()" />
                <input type="submit" value="Save and add another" name="_addanother" onClick="javascript:CalcAndSubmit()" />
            </div>
        </div>
    </form>
</div>
{% endblock %}
