<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Web thermostat</title>
        <link href="../static/css/style.css" rel="stylesheet" type="text/css"></link>
        <script language="javascript" type="text/javascript" src="../static/flot/jquery.js"></script>
        <script language="javascript" type="text/javascript" src="../static/flot/jquery.flot.js"></script>
    </head>
    <body>
        <div id="placeholder" style="width:600px;height:400px;"></div>
        <script id="source" language="javascript" type="text/javascript">

            $(function () {
                var data_list = [
{% if recent_temps_list %}
    {% for reading in recent_temps_list %}
        [{{ reading.timestamp|date:"U" }}000,{{ reading.temperature }}, {{reading.setpoint }}],
    {% endfor %}
{% endif %}
                ];

            var heater = [new Array(i[0], i[2]) for each (i in data_list)];
            var setpoints = [new Array(i[0], i[2]) for each (i in data_list)];
            var temps = [new Array(i[0], i[1]) for each (i in data_list)];

                $.plot(
                    $("#placeholder"),
                    [{ label: "Heater on", data: heater , color: "#FFCCCC", bars: { show: true, barWidth: 100000, align: "center" } }, 
                    {label: "Setpoint", data: setpoints , color: "#A80000", lines: { show: true } },
                    { label: "Temperature", data: temps , color: "#3366CC", lines: { show: true } }],
                    {
                        series: {
                            points: { show: false }
                        },
                        xaxis: {
                            ticks: 10,
                            mode: "time"
                        },
                        yaxis: {
                            ticks: 10,
                            min: 10,
                            max: 25
                        },
                        grid: {
                            backgroundColor: { colors: ["#fff", "#eee"] }
                    }
                }


                );
            });
        </script>
   </body>
</html>

